@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,body,html{
	font-family: 'Roboto', sans-serif;scroll-behavior: smooth;
}
.bg-grey{background-color: #E5E5E5;}
.bg-header{
	background: linear-gradient(-45deg, rgba(000, 000, 000, .6), rgba(000, 000, 000, .8)) fixed, url('img/header.png') fixed;
	height: 50vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}